# gfw service
[Unit]
Description=gfw
#After=network.target
After=network-online.target
Wants=network-online.target
[Service]
Type=simple
User={{ HOME_USER }}
ExecStart=ssh -C -N -g -T -D 127.0.0.1:55558 bwg
Restart=on-failure
RestartSec=3
[Install]
WantedBy=multi-user.target
